.box{
  border: 1px solid blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
}

.inner-box{
  position:relative;
  width:100%;
  height:100%;
}

#canvas    { z-index: -1;}
#landscape { z-index: 0; }
#fox       { z-index: 1; }

#landscape {
    position:absolute;
    max-width: 100%;
    max-height: auto;
    border-radius: 3px;
	  box-shadow: 0 3px 6px rgba(0,0,0,0.9);
    bottom: 0;
}

#canvas{
  width:100%;
  height:100%;
  background-color: #7dd3e2;
}

#fox {
  position: absolute;
  width: 20%;
  left: 20%;
  bottom: 0;
  padding-bottom: 5%;
}


#content-creation{
  z-index:1;
}

.clearfix{
  clear: both;
   content: ".";
   display: block;
   height: 0;
   line-height: 0;
   visibility: hidden;
}

#fox-button{
  z-index:2;
  position:absolute;
  float:left;
}

#tree-button{
  z-index:2;
  position:absolute;
}
